<html>
<head>
    {% comment %} inject scipts of plugins {% endcomment %}
    {{ content_for_header }}
</head>
<body>
    {% comment %} template data {% endcomment %}
    {{ content_for_layout }}
</body>
</html>