{{ 'banner-video.css' | asset_url | stylesheet_tag }}

<div class="banner-video-container">
  <video>
    <source src="{{ section.settings.video-url }}">
    <div class="circular-text"></div>
    <div class="play-button"></div>
  </video>
</div>

{% schema %}
{
  "name": "banner-video",
  "settings": [
    {
      "type": "video",
      "id": "food-wine-article",
      "label": "Video existente en shopify"
    }
  ],
  "presets":[
    {
    "name": "banner-video",
    "category": "video"
    }
  ]
}
{% endschema %}
