{{ 'banner-video.css' | asset_url | stylesheet_tag }}
{% if section.settings['banner-video-file'] != blank %}
  <video class="banner-video" autoplay muted>
    <source src="{{ section.settings.banner-video-file.sources[0].url  }}" type="video/mp4">
    <div class="circular-text"></div>
    <div class="play-button"></div>
  </video>
{% endif %}

{% schema %}
{
  "name": "banner-video",
  "settings": [
    {
      "type": "video",
      "id": "banner-video-file",
      "label": "Elige o sube un video"
    }
  ],
  "presets":[
    {
    "name": "banner-video",
    "category": "video"
    }
  ]
}
{% endschema %}
