{{ 'banner-video.css' | asset_url | stylesheet_tag }}

<div class="banner-video-container">
  <video>
    <div class="circular-text"></div>
    <div class="play-button"></div>
  </video>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
