{{ 'banner-video.css' | asset_url | stylesheet_tag }}

<div class="banner-video-container">
  {% assign video_url = section.settings['banner-video'] %}
  <h1>
    {{ video_url }}
  </h1>
  {% if video_url != blank %}
    <video src="{{ video_url }}" controls autoplay loop muted></video>
  {% endif %}
</div>

{% schema %}
{
  "name": "banner-video",
  "settings": [
    {
      "type": "video",
      "id": "banner-video-file",
      "label": "Elige o sube un video"
    }
  ],
  "presets":[
    {
    "name": "banner-video",
    "category": "video"
    }
  ]
}
{% endschema %}
