{{ 'food-wine-review.css' | asset_url | stylesheet_tag }}

<div class="container-magazine">
  <div class="column-one magazine-img">
    <div></div>
  </div>
  <div class="column-two review-link">
    <div class="review-link-container">
      <p class="magazine-review-title">Este animal de origen mexicano</p>
      <p class="magazine-review-subtitle">ENCONTRÓ LIBERTAD Y UNA NUEVA VIDA EN UN RANCHO DE MORELOS.</p>
      <p class="magazine-review-intro">
        La mayoría de los especímenes de cerdo pelón no tiene pelo en el cuerpo y su piel es color gris oscuro, tersa y
        mate. Por supuesto, también pensamos en el cerdo blanco convencional, pero las diferencias son evidentes: esta
        especie lampiña tiene trompa más larga, orejas semirrectas, ancas caídas y pezuñas oscuras.
      </p>
    </div>
    <div class="button-logo-container">
      <button class="leer-articulo">Leer artículo</button>
      <img src="{{ "food_and_wine.svg" | asset_url}}">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "food-wine-review",
  "class": "food-wine-review",
  "settings": [],
  "presets": [
    {
    "name": "food-wine-review",
    "category": "publicity"
    }
  ]
}
{% endschema %}
