{{ 'food-wine-review.css' | asset_url | stylesheet_tag }}

<div class="container-tho-column">
  <div class="column-one magazine-img">
    <p>hollllaaaaaaaaaaaa</p>
  </div>
  <div class="column-two review-link">adiossssssssssssssssssss</div>
</div>

{% schema %}
{
  "name": "food-wine-review",
  "class": "food-wine-review",
  "settings": [],
  "presets": [
    {
    "name": "food-wine-review",
    "category": "publicity"
    }
  ]
}
{% endschema %}
