{{ "food-wine-review.css" | stylesheet_tag | asset_url }}

<div class="container-tho-column">
  <div class="column-one magazine-img">
    
  </div>
  <div class="column-two review-link">
  </div>
</div>

{% schema %}
  {
    "name": "food-wine-review",
    "class": "food-wine-review",
    "settings": []
  }
{% endschema %}
