{{ "food-wine-review.css" | stylesheet_tag | asset_url }}

<div class="container-tho-column">
  <div class="column-one">
  </div>
  <div class="column-two">
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
