{{ 'form-contactanos.css' | asset_url | stylesheet_tag }}
<div class="container-fluid formu">
  <div class="container-formu">
    <div class="content-one">
      <div class="content-texto">
        <pa>¿Quieres servir nuestros productos en tu restaurante?</pa>
        <spa
          >Llena los siguientes datos y envíanos todas las dudas que tengas. Nos pondremos en contacto contigo lo más
          pronto posible.</spa
        >
      </div>
      <img src="{{ 'Grupo 83.svg' | asset_url }}" class="puerco-oreja d-md-block">
    </div>
    <div class="content-two">
      <div class="globo-formbuilder" data-id="ODk2MTU="></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "form-contactanos",
  "class": "formu",
  "settings":
  [

  ],
  "presets":
  [
    {
      "name": "form-contactanos",
      "category": "form"
    }
  ]
}
{% endschema %}
