.collection-labels input[name="collection"]:checked + label {
  background-color: #ada99f;
  color: #f7f3ed;
}

.collection-labels {
  text-align: center;
  font-size: 0;
  letter-spacing: 0;
}

.collection-label {
  text-align: center;
  font-family: Junicode Two Beta;
  font-size: 15px;
  letter-spacing: 0px;
  color: #2d2a29;
  text-transform: uppercase;
  width: 117px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ada99f;
}

.dawn-product-slider {
  height: 400px;
  width: 75%;
}
.slick-slide,
.slick-current,
.slick-active {
  width: 299px;
  height: 500px;
}
.slick-slide {
  padding: 25px;
}
.slick-next {
  width: 44px;
  height: 44px;
  padding-left: 10px;
}
.slick-prev {
  width: 44px;
  height: 44px;
  padding-right: 10px;
}
.carousel-cell {
  width: 299px;
  border: 2px solid rgba(128, 128, 128, 0.3);
}
div.card-top {
  text-align: center;
}
img.product-image {
  width: 299px;
  height: 276px;
  display: block;
  margin: 0 auto;
}
button.btn-ver-detalle {
  text-align: center;
  text-decoration: underline;
  font: 10px/12px Helvetica;
  letter-spacing: 2px;
  color: #2d2a29;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  position: absolute;
  top: 33%;
  transform: translate(-50%, -50%);
  bottom: unset;
  visibility: hidden;
  width: 299px;
  height: 276px;
}
button.btn-ver-detalle:hover,
img:hover + button {
  visibility: visible;
  background: #ada99f 0% 0% no-repeat padding-box;
}
.product-name-container {
  padding: 10px 0px;
  border-top: 2px solid rgba(128, 128, 128, 0.3);
}
p.product-name {
  text-align: center;
  font-family: Junicode Two Beta;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0px;
  color: #2d2a29;
  margin: 0;
}

.btn-contactar-vendedor-container {
  text-align: center;
  background: #ada99f 0% 0% no-repeat padding-box;
  padding: 14px 0px;
}

.btn-contactar-vendedor {
  font: normal normal normal 10px/12px Helvetica;
  letter-spacing: 2px;
  color: #f7f3ed;
}
.btn-contactar-vendedor:hover {
  text-decoration: auto;
  color: #f7f3ed;
}
#product-popup {
  display: none;
  position: absolute;
  z-index: 1;
  width: 90%;
  margin: 0% 5%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #aca9a0;
}
#product-popup .product-image-container {
  border-right: 1px solid #aca9a0;
}
#product-popup .product-info-container {
  margin: 3% 2% 5% 4%;
}
#product-popup .product-info {
  margin-right: 2%;
  overflow-y: auto;
}
#product-popup .product-info > * {
  margin-right: 10%;
}
#product-popup .product-info-top {
  display: flex;
}
h1.product-title {
  text-align: center;
  font-family: Junicode Two Beta;
  font-size: 45px;
  line-height: 75px;
  letter-spacing: 0px;
  color: #2d2a29;
}
button#btn-close {
  border: 0;
  margin-left: auto;
  margin-bottom: auto;
  background: transparent;
  padding: 0;
}
