.collection-labels input[name="collection"]:checked + label {
  background-color: #ada99f;
  color: #f7f3ed;
}

.collection-labels {
  text-align: center;
  font-size: 0;
  letter-spacing: 0;
}

.collection-label {
  text-align: center;
  font-family: Junicode Two Beta;
  font-size: 15px;
  letter-spacing: 0px;
  color: #2d2a29;
  text-transform: uppercase;
  width: 117px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ada99f;
}

.hidden {
  display: none;
}

.dawn-product-slider {
  height: 400px;
  width: 75%;
}
.carousel-cell {
  width: 299px;
  height: 376px;
  border: 2px solid rgba(128, 128, 128, 0.3);
}
.slick-slide,
.slick-current,
.slick-active {
  width: 299px;
  height: 500px;
}
.slick-slide {
  padding: 25px;
}
.card-img-top {
  width: 299px;
  height: 276px;
  display: block;
  margin: 0 auto;
}
.slick-next {
  width: 44px;
  height: 44px;
  padding-left: 10px;
}
.slick-prev {
  width: 44px;
  height: 44px;
  padding-right: 10px;
}
.card-name {
  font-family: "Junicode Two Beta";
  text-align: center;
  margin-top: 0.75rem;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.card-amount,
.card-gr {
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}
.card-cart {
  background: #ada99f 0% 0% no-repeat padding-box;
}
.btn-contactar-vendedor {
  text-align: center;
  font-family: Helvetica;
  font-size: 11px;
  letter-spacing: 2px;
  color: #f7f3ed;
  display: block;
  margin-top: 1.4rem;
}
