.container-magazine {
  height: 471px;
  display: flex;
}
.column-one.magazine-img {
  width: 50%;
  background: transparent url("Grupo 275.png") 0% 0% no-repeat padding-box;
}

.column-two.review-img {
  width: 50%;
}
