.foo {
  background: url("Grupo 183.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: 100%;
}
.content-top {
  background: #fafafa;
  width: 80%;
  display: flex;
  padding: 15px 3%;
  height: auto;
  margin-top: -40px;
}
@media (max-width: 576px) {
  .foo {
    background: url("Grupo 183.png");
    margin-top: 40%;
    background-size: 100% 630px;
  }
  .content-top {
    display: block;
  }
  .content-his {
    display: block !important;
  }
  .stay-connected-link {
    margin-bottom: 1.5rem;
    font: normal normal normal 13px/16px Helvetica;
    letter-spacing: 2.6px;
    color: #2d2a29;
    text-transform: uppercase;
  }
  .spac {
    width: 100% !important;
    margin-left: 34px;
  }
  .stay-connected-juni {
    font-size: 27px !important;
    padding: 2% 0 10% 0 !important;
  }
  .stay-connected-cursive {
    font-size: 30px !important;
  }
  .spac button {
    font: normal normal normal 13px/16px Helvetica;
    letter-spacing: 2.6px;
    color: #ada99f;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
  }
  .spac input {
    width: -webkit-fill-available !important;
    margin-top: 2rem;
    font: normal normal normal 13px/16px Helvetica;
    letter-spacing: 0px;
    color: #ada99f;
    background-color: #fafafa;
  }
}
button {
  font-size: 11px !important;
  font-family: Helvetica;
  color: #aca9a0;
  padding: 7px 15px;
  @media (max-width: 576px) {
    margin: 30px 0;
  }
}
.spac {
  width: 50%;
}
.stay-connected-cursive {
  text-align: left;
  font: normal normal normal 20px/25px Snell Roundhand;
  letter-spacing: 0px;
  color: #2d2a29;
  margin-bottom: 0px;
}
.stay-connected-juni {
  text-align: left;
  font-family: "Junicode Two Beta";
  font-size: 20px;
  letter-spacing: 0px;
  color: #2d2a29;
  text-transform: uppercase;
}

.stay-connected-send {
  border: 1px solid #aca9a0;
  background-color: #fafafa;
}
.spac input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #aca9a0 !important;
  width: 70% !important;
  color: #ada99f !important;
  font-family: Helvetica !important;
}

.spac input::placeholder {
  color: #ada99f;
}

.content-his {
  font-family: Helvetica;
  display: flex;
  justify-content: space-around;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-link {
  margin-bottom: 3%;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 6%;
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40%;
  }
}
.logo-2-blanco {
  height: 71px;
}

.redes-links {
  @media (max-width: 576px) {
    margin-left: 6%;
    margin-bottom: -5%;
  }
}
.social-media-link {
  text-align: left;
  font-family: "Helvetica";
  font-size: 9px;
  letter-spacing: 1.8px;
  color: #f6f3ee;
  margin-left: 25px;
  margin-right: 25px;
  text-transform: uppercase;
  opacity: 1;
}
.stay-connected-link {
  text-align: left;
  font: normal normal normal 9px/11px Helvetica;
  letter-spacing: 1.8px;
  color: #2d2a29;
  text-transform: uppercase;
}
