.box-cintillo-loop {
  hr {
    border: 1px solid #aca9a0;
  }
}
.cursive {
  font-family: "Helvetica Regular";
  margin: 15px 10px 30px;
  letter-spacing: 2.2px;
  font-size: 11px;
}

.plain-text {
  font-family: "Snell Roundhand";
  letter-spacing: 0px;
  color: #2d2a29;
  font-size: 20px;
}
