@font-face {
  font-family: "Snell Roundhand";
  src: url(SnellRoundhand.ttc);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.column-nosotros {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.column-nosotros:not(.col-titles) {
  padding-right: 10%;
}

.rich-txt-row {
  min-height: 374px;
}

@media (max-width: 700px) {
  .column-nosotros {
    width: 100%;
  }
  .col-titles {
    padding-right: 0%;
    margin-bottom: 5%;
    padding-left: 10%;
  }
  .rich-txt-normal {
    margin-bottom: 2%;
  }
  .div-button-nosotros {
    margin-top: 6%;
  }
  .rich-txt-row {
    padding: 10% 0 10% 0;
  }
}

.col-titles {
  padding-right: 10%;
  font-family: Junicode Two Beta;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #2d2a29;
  text-transform: uppercase;
  opacity: 1;
  padding-left: 14rem;
}

.rich-txt-secondSubtitle {
  font-family: "Snell Roundhand";
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 2%;
}

.rich-txt-normal {
  font-family: "Helvetica";
  font-size: 13px;
  line-height: 16px;
}
.div-button-nosotros {
  margin-top: 5%;
}
.button-nosotros {
  font-family: "Helvetica";
  font-size: 13px;
  color: black !important;
  text-decoration: none !important;
  padding: 2%;
  border: 1px black;
  border-style: solid;
}
