/* Create two equal columns that floats next to each other */
.column {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.rich-txt-row {
  padding: 10% 0% 10% 0%;
}