@font-face {
  font-family: 'Snell Roundhand';
  src: url(SnellRoundhand.ttc);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.column {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.rich-txt-row {
  padding: 5% 10% 0% 10%;
}